@model Business.Models.Calendar

<div class="calendar">
  <input type="hidden" name="calendarId" value="@Model.Id">
  <label>
    <input checked="true" class="filled-in calendar-events-checkbox" type="checkbox" />
    <span style="--checkbox-color: @Model.Color.Hex">@Model.Name</span>
  </label>
  <div class="calendar-actions">
    <div class='@(Model.IsOwner ? "delete-calendar" : "unsubscribe-calendar") calendar-btn tooltipped'
         data-position="bottom" data-tooltip='@(Model.IsOwner ? "Delete calendar" : "Unsubscribe calendar")'>
      <i class="material-icons tiny">close</i>
    </div>
    <div class="share-calendar calendar-btn tooltipped" data-position="bottom" data-tooltip="Share calendar">
      <i class="material-icons tiny">share</i>
    </div>
  </div>
</div>